/* Authors Preston and Carter*/
button{
    margin-top: 6px;
    border: 0px black solid;
    font-size: 23px;
    background-color: #40a8c4;
}

.button-box{
    display: flex;
    flex-direction: row;
}

.buttonHolder{
    display: flex;
    flex-direction: column;
    margin-right: 15px;
}

.card-date{
    font-size: 25px;
}

.card-name{
    font-size:35px;
} 
.friendadd{
    border: solid black 1px;
    margin-right: .2em;
}
